.button {
  background-color: transparent;
  border: 3px solid #10e0d0;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  outline: none;
  text-overflow: ellipsis;
  transition: background-color .1s ease-in,border .1s ease-in,color .1s ease-in;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
  width: 375px;
  height: 75px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 24px;

  &:hover {
    background-color: #10e0d0;
    border: 3px solid #10e0d0;
    color: white !important;
  }
}